<header class="flex justify-between align-center py-3 w-[1120px]">
    <img class="rounded-full w-12 h-12" src="../img/perfil verde 4.jpg" alt="foto de perfil">

    <nav class="flex flex-row gap-x-10">
        <a href="#">Home</a>
        <a href="#">Acerca de mí</a>
        <a href="#">Proyectos</a>
        <a href="#">Contacto</a>
    </nav>

</header>